@model MVCCompras.Models.ValidacionesRecuperarPassword
@{
  Layout = null;
}
@if (ViewBag.Message != null)
{
  <span id="mensaje" style="display:none;">@ViewBag.Message</span>
}
<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>@ViewBag.Title COMPRAS</title>
  @Styles.Render("~/Content/Bootstrap")
  @Styles.Render("~/Content/Tables")
  @Styles.Render("~/Content/iconos")
  @Styles.Render("~/Content/estilos")
  @Scripts.Render("~/bundles/modernizr")
  @Scripts.Render("~/bundles/jquery")

</head>
<body>

  <div class="container">
    @using (Html.BeginForm("InicioRecuperar", "Usuarios", FormMethod.Post, new { @class = "login-form", role = "form" }))
    {
      @Html.AntiForgeryToken()

      <div class="login-wrap">
        <p class="login-img"><i class="icon_lock_alt"></i></p>
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="input-group">
          <span class="input-group-addon"><i class="icon_profile"></i></span>
          @Html.TextBoxFor(model => model.Correo, new { @class = "form-control", @placeholder = "correo electronico" })
          @Html.ValidationMessageFor(model => model.Correo, "", new { @class = "text-danger" })
        </div>
        <button class="btn btn-primary btn-lg btn-block" type="submit">Recuperar</button>
        <div class="btn  btn-danger btn-lg btn-block">
          @Html.ActionLink("Cancelar", "Login", "Home")
        </div>
      </div>


    }
  </div>
  <script>
    $(document).ready(function () {
      if ($("#mensaje").text() == "Correo enviado") {
        var msg = $("#mensaje").html();
        swal("Exitoso!!", msg, "success");
      }
      if ($("#mensaje").text() == "Correo no encontrado") {
        var msg = $("#mensaje").html();
        swal("Error!!", msg, "error");
      }
    });
  </script>
  @Scripts.Render("~/Content/js")
  @Scripts.Render("~/bundles/datatables")



</body>
</html>



