@model MVCCompras.Models.ValidacionesPassword
@{
  ViewBag.Title = "Recuperar";
  Layout = null;
}

<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>@ViewBag.Title COMPRAS</title>
  @Styles.Render("~/Content/Bootstrap")
  @Styles.Render("~/Content/iconos")
  @Styles.Render("~/Content/estilos")
  @Scripts.Render("~/bundles/modernizr")

</head>
<body>

  <div class="container">
    @using (Html.BeginForm("Recuperar", "Usuarios", FormMethod.Post, new { @class = "login-form", role = "form" }))
    {
      @Html.AntiForgeryToken()
      @Html.HiddenFor(model => model.token)
     
      <div class="login-wrap">
        <p class="login-img"><i class="icon_lock_alt"></i></p>
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="input-group">
          <span class="input-group-addon"><i class="icon_profile"></i></span>
          @Html.PasswordFor(model => model.Pass, new { @class = "form-control", @placeholder = "Nueva Contraseña" })
          @Html.ValidationMessageFor(model => model.Pass, "", new { @class = "text-danger" })
        </div>

        <div class="input-group">
          <span class="input-group-addon"><i class="icon_profile"></i></span>
          @Html.PasswordFor(model => model.Pass2, new { @class = "form-control", @placeholder = "Confirmar Contraseña" })
          @Html.ValidationMessageFor(model => model.Pass2, "", new { @class = "text-danger" })
        </div>
        <button class="btn btn-primary btn-lg btn-block" type="submit">Recuperar</button>
      </div>

    }




  </div>
  <hr />
  <footer></footer>
  @Scripts.Render("~/bundles/jquery")
  @Scripts.Render("~/bundles/js")

</body>
</html>

  

