@model MVCCompras.Models.Solicitud

@{

    ViewBag.Title = "Create";
}
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <section id="container" class="">
        <!--main content start-->
        <section id="main-content">
            <section class="wrapper">
                <!--overview start-->
                <div class="row">
                    <div class="col-lg-12">
                        <h3 class="page-header"><i class="fa fa-file"></i> Solicitud de Compra</h3>
                    </div>
                </div>
            </section>
        </section>
    </section>

    <section id="main-content">
        <section class=" wrapper">
            <div class="row">
                <div class="col-lg-6">
                    <section class="panel">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <div class="pull-left"><h4>Especificaciones</h4></div>
                                <div class="clearfix"></div>
                            </div>
                            <div class="panel-body">
                                <div class="padd">
                                    <div class="form quick-post">
                                        <div class="form-horizontal">
                                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                            <div class="form-group">
                                                @Html.LabelFor(model => model.ProveedorID, "ProveedorID", htmlAttributes: new { @class = "control-label col-md-2" })
                                                <div class="col-md-10">
                                                    @Html.DropDownList("ProveedorID", null, htmlAttributes: new { @class = "form-control" })
                                                    @Html.ValidationMessageFor(model => model.ProveedorID, "", new { @class = "text-danger" })
                                                </div>
                                            </div>

                                            <div class="form-group">
                                                @Html.LabelFor(model => model.PagadoraID, htmlAttributes: new { @class = "control-label col-md-2" })
                                                <div class="col-md-10">
                                                    @Html.EditorFor(model => model.PagadoraID, new { htmlAttributes = new { @class = "form-control" } })
                                                    @Html.ValidationMessageFor(model => model.PagadoraID, "", new { @class = "text-danger" })
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </section>
                </div>
                <div class="col-lg-6">
                    <section class="panel">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <div class="pull-left"><h4>Importe a Pagar</h4></div>
                                <div class="clearfix"></div>
                            </div>
                            <div class="panel-body">
                                <div class="padd">
                                    <div class="form quick-post">
                                        <div class="form-horizontal">
                                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                            <div class="form-group">
                                                @*@Html.LabelFor(m => m.Moneda, "Tipo Moneda", htmlAttributes: new { @class = "control-label col-md-2" })
                                            <div class="col-md-10">
                                                @Html.DropDownListFor(m=> m.Moneda, m.Moneda.TableList as SelectList,"Moneda"),
                                                "Seleccionar...", new { @class = "form-control" })
                                                @Html.ValidationMessageFor(model => model.TipoGastoID, "", new { @class = "text-danger" })*@
                                                @*</div>*@
                                            </div>

                                            <div class="form-group">
                                                @Html.LabelFor(model => model.ImporteTotal, htmlAttributes: new { @class = "control-label col-md-2" })
                                                <div class="col-md-10">
                                                    @Html.EditorFor(model => model.ImporteTotal, new { htmlAttributes = new { @class = "form-control" } })
                                                    @Html.ValidationMessageFor(model => model.ImporteTotal, "", new { @class = "text-danger" })
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                @Html.LabelFor(model => model.ImporteLetra, htmlAttributes: new { @class = "control-label col-md-2" })
                                                <div class="col-md-10">
                                                    @Html.EditorFor(model => model.ImporteLetra, new { htmlAttributes = new { @class = "form-control" } })
                                                    @Html.ValidationMessageFor(model => model.ImporteLetra, "", new { @class = "text-danger" })
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4">
                    <section class="panel">
                        <div class="panel-body">col-lg-4</div>
                    </section>
                </div>
                <div class="col-lg-4">
                    <section class="panel">
                        <div class="panel-body">col-lg-4</div>
                    </section>
                </div>
                <div class="col-lg-4">
                    <section class="panel">
                        <div class="panel-body">col-lg-4</div>
                    </section>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-3">
                    <section class="panel">
                        <div class="panel-body">col-lg-3</div>
                    </section>
                </div>
                <div class="col-lg-3">
                    <section class="panel">
                        <div class="panel-body">col-lg-3</div>
                    </section>
                </div>
                <div class="col-lg-3">
                    <section class="panel">
                        <div class="panel-body">col-lg-3</div>
                    </section>
                </div>
                <div class="col-lg-3">
                    <section class="panel">
                        <div class="panel-body">col-lg-3</div>
                    </section>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-2">
                    <section class="panel">
                        <div class="panel-body">col-lg-2</div>
                    </section>
                </div>
                <div class="col-lg-2">
                    <section class="panel">
                        <div class="panel-body">col-lg-2</div>
                    </section>
                </div>
                <div class="col-lg-2">
                    <section class="panel">
                        <div class="panel-body">col-lg-2</div>
                    </section>
                </div>
                <div class="col-lg-2">
                    <section class="panel">
                        <div class="panel-body">col-lg-2</div>
                    </section>
                </div>
                <div class="col-lg-2">
                    <section class="panel">
                        <div class="panel-body">col-lg-2</div>
                    </section>
                </div>
                <div class="col-lg-2">
                    <section class="panel">
                        <div class="panel-body">col-lg-2</div>
                    </section>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <p>Mobile, tablet, and desktop</p>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4">
                    <div class="row">
                        <div class="col-xs-6">
                            <section class="panel">
                                <div class="panel-body">col-xs-6</div>
                            </section>
                        </div>
                        <div class="col-xs-6">
                            <section class="panel">
                                <div class="panel-body">col-xs-6</div>
                            </section>
                        </div>
                    </div>
                </div>
                <div class="col-lg-8">
                    <section class="panel">
                        <div class="panel-body">col-lg-8</div>
                    </section>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6">
                    <div class="row">
                        <div class="col-sm-6">
                            <section class="panel">
                                <div class="panel-body">col-sm-6</div>
                            </section>
                        </div>
                        <div class="col-sm-6">
                            <section class="panel">
                                <div class="panel-body">col-sm-6</div>
                            </section>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <section class="panel">
                        <div class="panel-body">col-lg-6</div>
                    </section>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-8">
                    <div class="row">
                        <div class="col-md-6">
                            <section class="panel">
                                <div class="panel-body">col-md-6</div>
                            </section>
                        </div>
                        <div class="col-md-6">
                            <section class="panel">
                                <div class="panel-body">col-md-6</div>
                            </section>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <section class="panel">
                        <div class="panel-body">col-lg-4</div>
                    </section>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <section class="panel">
                        <div class="panel-body">col-sm-6</div>
                    </section>
                </div>
                <div class="col-sm-6">
                    <section class="panel">
                        <div class="panel-body">col-sm-6</div>
                    </section>
                </div>
            </div>
            <div>
                @Html.ActionLink("Back to List", "Index")
            </div>

        </section>
    </section>
}


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
