@model MVCCompras.Models.Solicitud

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Solicitud</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CantidadPagos)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CantidadPagos)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ImporteTotal)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ImporteTotal)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ImporteLetra)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ImporteLetra)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Observacion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Observacion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FechaRegistro)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FechaRegistro)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FechaInicioPagos)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FechaInicioPagos)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FechaModificacion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FechaModificacion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CuentaIDModificacion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CuentaIDModificacion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PagadoraID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PagadoraID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ObservacionesOtroFormaP)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ObservacionesOtroFormaP)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ObsOtroTipoGasto)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ObsOtroTipoGasto)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Solicitante)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Solicitante)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FormaPago.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FormaPago.Nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Periocidad.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Periocidad.Nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Proveedor.Alias)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Proveedor.Alias)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TipoGasto.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TipoGasto.Nombre)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
