@model MVCCompras.Models.Solicitud
@using MVCCompras.Models

@{
    ViewBag.Title = "Details";
}



<section id="main-content">
    <section class=" wrapper">
        <div class="col-lg-12">
            <h3 class="page-header"><i class="fa fa-file"></i>Solicitu de Compra</h3>
        </div>
        <div class="row">
            <div class="col-lg-8">
                <section class="panel">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <div class="pull-left"><h4>Solicitud</h4></div>
                            <div class="clearfix"></div>
                        </div>
                        <div class="panel-body">
                            <div class="padd">
                                <div class="form quick-post">
                                    <div>
                                        <dl class="dl-horizontal">

                                            <dt>
                                                @Html.DisplayName("No. Solicitud:")
                                            </dt>

                                            <dd>
                                                @Html.DisplayFor(model => model.SolicitudID)
                                            </dd>
                                            <dt>
                                                @Html.DisplayName("Fecha de Registro:")
                                            </dt>

                                            <dd>
                                                @Html.DisplayFor(model => model.FechaRegistro)
                                            </dd>
                                            <dt>
                                                @Html.DisplayName("Solicitado por:")
                                            </dt>

                                            <dd>
                                                @Html.DisplayFor(model => model.Solicitante)
                                            </dd>

                                            <dt>
                                                @Html.DisplayName("Conceptos:")
                                            </dt>

                                            <dd>
                                                @foreach (Concepto item in Model.Concepto)
                                                {
                                                    @Html.DisplayFor(model => item.Nombre)
                                                    @Html.DisplayFor(model => item.ImporteParcial)
                                                }
                                            </dd>

                                            <dt>
                                                @Html.DisplayName("Importe Total:")
                                            </dt>

                                            <dd>
                                                @Html.DisplayFor(model => model.ImporteTotal)
                                            </dd>

                                            <dt>
                                                @Html.DisplayName("Importe en Letra:")
                                            </dt>

                                            <dd>
                                                @Html.DisplayFor(model => model.ImporteLetra)
                                            </dd>

                                            <dt>
                                                @Html.DisplayName("Observaciones:")
                                            </dt>

                                            <dd>
                                                @Html.DisplayFor(model => model.Observacion)
                                            </dd>

                                            <dt>
                                                @Html.DisplayName("Empresa Pagadora:")
                                            </dt>

                                            <dd>
                                                @Html.DisplayFor(model => model.PagadoraID)
                                            </dd>
                                            <dt>
                                                @Html.DisplayName("Forma de Pago:")
                                            </dt>

                                            <dd>
                                                @Html.DisplayFor(model => model.FormaPago.Nombre)
                                            </dd>

                                            <dt>
                                                @Html.DisplayName("Proveedor:")
                                            </dt>

                                            <dd>
                                                @Html.DisplayFor(model => model.Proveedor.Alias)
                                            </dd>

                                            <dt>
                                                @Html.DisplayName("Tipo de Gasto:")
                                            </dt>

                                            <dd>
                                                @Html.DisplayFor(model => model.TipoGasto.Nombre)
                                            </dd>

                                        </dl>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </section>

    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.SolicitudID }) |
        @Html.ActionLink("Back to List", "Index")
    </p>

</section>

