@model MVCCompras.Models.Concepto
@using (Html.BeginForm())
{
  @Html.Hidden("NumGasto", 0)
  <div class="modal fade" id="ModalConcepto" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">
            &times;
          </button>
          <h4>Agregar Concepto</h4>
        </div>
        <div class="modal-body">
          <div class="row">
            <div class="col-md-12">
              <div class="form-horizontal">

                @Html.ValidationSummary(true, "", new { @class = "text-danger" })


                <div class="form-group">
                  @Html.LabelFor(model => model.TipoPagoID, "Concepto", htmlAttributes: new { @class = "control-label col-md-2" })
                  <div class="col-md-10">
                    @Html.DropDownList("TipoPagoID", null, "Selecciona", htmlAttributes: new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.TipoPagoID, "", new { @class = "text-danger" })
                  </div>
                </div>

                <div class="form-group">
                  @Html.LabelFor(model => model.Nombre, "Descripción", htmlAttributes: new { @class = "control-label col-md-2" })
                  <div class="col-md-10">
                    @Html.TextBox("ConceptoID", null, htmlAttributes: new { @class = "form-control", @placeholder = "Descripcion" })
                    @Html.ValidationMessageFor(model => model.Nombre, "", new { @class = "text-danger" })
                  </div>
                </div>

                <div class="form-group" oninput="Importe.value = ImporteTotal.value">
                  @Html.LabelFor(model => model.ImporteParcial, "Importe", htmlAttributes: new { @class = "control-label col-md-2" })
                  <div class="col-md-10">
                    @Html.TextBox("ImporteID", null, htmlAttributes: new { @class = "form-control", ValueType = true, @placeholder = "Solo Numeros" })
                    @Html.ValidationMessageFor(model => model.ImporteParcial, "", new { @class = "text-danger" })
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          @Html.Hidden("NumConcepto", 0)
          <div class="row">
            <div class="col-md-6">
              <a href="#" id="btnCancelConcepto"
                 class="btn btn-danger"
                 data-dismiss="modal"
                 role="button">
                Cancelar
              </a>
            </div>
            <div class="col-md-6">
              <a href="#" id="btnOkConcepto"
                 class="btn btn-success"
                 role="button">Guardar</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
}
<script>
  var total = 0;
  var fila = 0;
  var re = 0;
  $(document).ready(function () {
    $("#btnCancelConcepto").click(function () {
      $(".concepto").val("");
    });

    $('#ImporteTotal').val(total);
    $("#btnOkConcepto").click(function () {
      if ((!$.isNumeric($("#ImporteID").val())) || ($("#TipoPagoID").find('option:selected').text() == "Selecciona")) {
        swal("Atención!", "Algun campo esta vacio o es erroneo", "warning");
      } else {
        var impT = $('#ImporteTotal').val();
        if ($('#ImporteID') != 0) {
          var nume = $('#ImporteID').val();
          impT = parseFloat(impT) + parseFloat(nume);
        }
        $('#ImporteTotal').val(impT);

        var n = $('#ImporteTotal').val();
        var m = $('#MonedaID').val();
        if (m == 1) {
          $('#ImporteLetra').val(numeroALetras(n) + ' MXN');
        }
        else {
          $('#ImporteLetra').val(numeroALetras2(n) + ' USD');
        }


        //AgregarConcepto();
        var esvacio = false;
        $(".concepto").each(function () {
          if ($(this).val() == "") {
            esvacio = true;
          }

        });

        if ((esvacio) || (!$.isNumeric($("#ImporteID").val())) || ($("#TipoPagoID").find('option:selected').text() == "Selecciona")) {
          swal("Atención!", "Algun campo esta vacio o es erroneo", "warning");
        }
        else {
          //Agregamos concepto
          var concepto = $("#TipoPagoID").find('option:selected').text();
          var idTipoPago = $("#TipoPagoID").val();
          var descrip = $("#ConceptoID").val();
          var importe = $("#ImporteID").val();
          var nuevoconcepto = 0;
          if (nuevoconcepto >= 0 || importe != 0) {
            //Agregamos el concepto
            var numconcepto = parseInt($("#NumConcepto").val()) + 1;
            $("#NumConcepto").val(numconcepto);
            fila++;
            //Agregamos el concepto a la tabla
            $("#tblConcepto").append(
              "<tr>" +
              "<td><input type='text' style='border:0;background:transparent;' name='concepid'" + numconcepto + " id='concepid'" + numconcepto + " readonly value='" + concepto + "'/>" +
              "</td>" +
              "<td>" +
              "<input type='text' style='border:0;background:transparent;'" +
              " name='descid" + numconcepto + "'" +
              " id='descid" + numconcepto + "'" +
              " value='" + descrip + "'/>" +
              "</td>" + "<td>" +
              "<input type='text' style='border:0;background:transparent;'" +
              " name='importeid" + numconcepto + "'" +
              " id='importeid" + numconcepto + "'" +
              " readonly " +
              " value='" + importe + "'/>" +
              "</td>" + "<td align='center'>" +
              "<button type='button' class='delete btn btn-danger' href='#'><i class='icon_close_alt2'></i></button>" +
              "</td>" +
              "<td style='visibility: hidden'>" +
              "<input type='text' style='border:0;background:transparent;'" +
              " name='idTipoPago" + numconcepto + "'" +
              " id='idTipoPago" + numconcepto + "'" +
              " readonly " +
              " value='" + idTipoPago + "'/>" +
              "</td>" +
              "</tr>"
            );

            $(".concepto").val("");
            $("#Importe").val(nuevoconcepto);

            $('#ImporteID').val(0);
          }
          else {
            swal("Atención!", "Concepto incompleto", "warning");
          }

          $(".delete").off().on("click", function (e){
           
            fila = $(this).parents("tr").find("td")[2].innerHTML;
            cantidad = fila.substring(fila.lastIndexOf('v'));
            const regex = /"([^"]*)"|'([^']*)'/g,
              texto = cantidad;
            var grupo,
              resultado = [];
            while ((grupo = regex.exec(texto)) !== null) {
              //si coincide con comillas dobles, el contenido estará en el
              //   grupo[1], con el grupo[2] undefined, y viceversa
              resultado.push(grupo[1] || grupo[2]);
            }
            var importeR = parseFloat(resultado.join("\n"));
            var importeT = $("#ImporteTotal").val();
            re = (importeT) - (importeR);
            $("#ImporteTotal").val(re);
            var n = $('#ImporteTotal').val();
            var m = $('#MonedaID').val();
            if (m == 1) {
              $('#ImporteLetra').val(numeroALetras(n) + ' MXN');
            }
            else {
              $('#ImporteLetra').val(numeroALetras2(n) + ' USD');
            }

           
                                     
            var tr = $(this).closest('tr');
            tr.remove();

          });

        }

        

      }




    });

    $("#ImporteID").keydown(function (event) {
      if (event.shiftKey) {
        event.preventDefault();
      }

      if (event.keyCode == 110 || event.keyCode == 8) {

      }
      else {

        if (event.keyCode < 95) {
          if (event.keyCode < 48 || event.keyCode > 57) {
            event.preventDefault();
          }
        }
        else {
          if (event.keyCode < 96 || event.keyCode > 105) {
            event.preventDefault();
          }
        }
      }

    });
  });
</script>