@model IEnumerable<MVCCompras.Models.Concepto>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ImporteParcial)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TipoPago.Nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Solicitud.ImporteLetra)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ImporteParcial)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TipoPago.Nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Solicitud.ImporteLetra)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ConceptoID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ConceptoID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ConceptoID })
        </td>
    </tr>
}

</table>
