@model MVCCompras.Models.Proveedor

@{
    ViewBag.Title = "Delete";
}

<section id="main-content">
    <section class=" wrapper">
        <div class="col-lg-12">
            <h3 class="page-header"><i class="fa fa-money"></i>Eliminar Proveedor</h3>
        </div>
        <div class="row">
            <div class="col-lg-8">
                <section class="panel">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <div class="pull-left"><h4>Proveedor</h4></div>
                            <div class="clearfix"></div>
                        </div>
                        <div class="panel-body">
                            <div class="padd">
                                <div class="form quick-post">
                                    <h3>
                                        ¿Estás seguro que quieres eliminar esto?
                                    </h3>
                                    <div>
                                        <dl class="dl-horizontal">
                                            <dt>
                                                @Html.DisplayNameFor(model => model.Alias)
                                            </dt>

                                            <dd>
                                                @Html.DisplayFor(model => model.Alias)
                                            </dd>

                                            <dt>
                                                @Html.DisplayNameFor(model => model.RazonSocial)
                                            </dt>

                                            <dd>
                                                @Html.DisplayFor(model => model.RazonSocial)
                                            </dd>

                                            <dt>
                                                @Html.DisplayNameFor(model => model.RFC)
                                            </dt>

                                            <dd>
                                                @Html.DisplayFor(model => model.RFC)
                                            </dd>

                                            <dt>
                                                @Html.DisplayNameFor(model => model.Calle)
                                            </dt>

                                            <dd>
                                                @Html.DisplayFor(model => model.Calle)
                                            </dd>

                                            <dt>
                                                @Html.DisplayNameFor(model => model.NumeroExterior)
                                            </dt>

                                            <dd>
                                                @Html.DisplayFor(model => model.NumeroExterior)
                                            </dd>

                                            <dt>
                                                @Html.DisplayNameFor(model => model.NumeroInterior)
                                            </dt>

                                            <dd>
                                                @Html.DisplayFor(model => model.NumeroInterior)
                                            </dd>

                                            <dt>
                                                @Html.DisplayNameFor(model => model.Colonia)
                                            </dt>

                                            <dd>
                                                @Html.DisplayFor(model => model.Colonia)
                                            </dd>

                                            <dt>
                                                @Html.DisplayNameFor(model => model.Alcaldia)
                                            </dt>

                                            <dd>
                                                @Html.DisplayFor(model => model.Alcaldia)
                                            </dd>

                                            <dt>
                                                @Html.DisplayNameFor(model => model.Estado)
                                            </dt>

                                            <dd>
                                                @Html.DisplayFor(model => model.Estado)
                                            </dd>

                                            <dt>
                                                @Html.DisplayNameFor(model => model.EstaActivo)
                                            </dt>

                                            <dd>
                                                @Html.DisplayFor(model => model.EstaActivo)
                                            </dd>

                                        </dl>

                                        @using (Html.BeginForm())
                                        {
                                            @Html.AntiForgeryToken()
                                            <div class="form-actions no-color col-lg-3">
                                                <input type="submit" value="Eliminar" class="btn btn-danger" />
                                            </div>
                                            <div class="col-lg-3">
                                                <div class="btn btn-info">
                                                    @Html.ActionLink("Cancelar", "Index")
                                                </div>
                                            </div>

                                        }
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </section>
</section>