@model IEnumerable<MVCCompras.Models.Proveedor>

@{
    ViewBag.Title = "Index";
}

@if (ViewBag.Message != null)
{
    <span id="mensaje" style="display:none;">@ViewBag.Message</span>
}


<section id="main-content">
    <section class=" wrapper">
        <div class="col-lg-12">
            <h3 class="page-header"><i class="fa fa-institution"></i>Catálogo de Proveedores</h3>
        </div>
    </section>
    <div class="panel">
        <div class="col-lg-12 ">
            <table class="table table-bordered table-striped table-advance table-hover">
                <tr>
                    <th>
                        <i class="fa fa-user"></i>  Alias Proveedor
                    </th>
                    <th>
                        <i class="fa fa-info-circle"></i>  Razon Social
                    </th>
                    <th>
                        <i class="fa fa-bookmark"></i>  RFC
                    </th>
                    <th>
                        <i class="fa fa-map-marker"></i>  Calle
                    </th>
                    <th>
                        <i class="fa fa-map-marker"></i>  Número Exterior
                    </th>
                    <th>
                        <i class="fa fa-map-marker"></i>  Número Interior
                    </th>
                    <th>
                        <i class="fa fa-map-marker"></i>  Colonia
                    </th>
                    <th>
                        <i class="fa fa-map-marker"></i>  Alcaldia
                    </th>
                    <th>
                        <i class="fa fa-map-marker"></i>  Estado
                    </th>
                    <th>
                        <i class="fa fa-check-square-o"></i>  Activo
                    </th>
                    <th><i class="fa fa-cogs"></i>  Acciones</th>
                </tr>

                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Alias)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.RazonSocial)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.RFC)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Calle)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.NumeroExterior)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.NumeroInterior)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Colonia)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Alcaldia)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Estado)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.EstaActivo)
                        </td>
                        <td>
                            @Html.ActionLink("Edit", "Edit", new { id = item.ProveedorID }, new { @class = "btn  btn-warning" })
                            @*@Html.ActionLink("Details", "Details", new { id = item.ProveedorID }) |*@
                            @Html.ActionLink("Delete", "Delete", new { id = item.ProveedorID }, new { @class = "btn  btn-danger" })
                        </td>
                    </tr>
                }

            </table>
        </div>
        <div class="col-lg-3">
            <div class="btn btn-success">
                @Html.ActionLink("Ingresar Nuevo", "Create")
            </div>
        </div>
    </div>
</section>
<script>
  $(document).ready(function () {
    if ($("#mensaje").text() == "Proveedor Agregado") {
      var msg = $("#mensaje").html();
      swal("Exitoso!!", msg, "success");
    }
    if ($("#mensaje").html().length > 0) {
      var msg = $("#mensaje").html();
      swal("Exitoso!", msg, "success");
    }
  });
</script>