@model IEnumerable<MVCCompras.Models.Proveedor>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Alias)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RazonSocial)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RFC)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Calle)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NumeroExterior)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NumeroInterior)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Colonia)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Alcaldia)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Estado)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EstaActivo)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Alias)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RazonSocial)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RFC)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Calle)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NumeroExterior)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NumeroInterior)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Colonia)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Alcaldia)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Estado)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EstaActivo)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ProveedorID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ProveedorID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ProveedorID })
        </td>
    </tr>
}

</table>
